name: Maven Hello-World test build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
    - uses: jfrog/setup-jfrog-cli@v1
      env:
        JF_ARTIFACTORY_1: ${{ secrets.HARISH_CLI_GITHUB_ACTIONS }}
    - run: |
        # Ping the server
        jfrog rt ping
    - uses: jfrog/setup-jfrog-cli@v1.2.0
      env:
        JF_ARTIFACTORY_1: ${{ secrets.HARISH_CLI_GITHUB_ACTIONS }}
        M2_HOME: /usr/share/apache-maven-3.8.1
    - run: |
        jfrog rt mvnc --global --server-id-resolve=Artifactory --server-id-deploy=Artifactory --repo-resolve-releases=libs-release --repo-resolve-snapshots=libs-snapshot --repo-deploy-releases=libs-release-local --repo-deploy-snapshots=libs-snapshot-local
    - run: |
          version=$(jfrog rt mvn org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=project.version -Dartifactory.publish.artifacts=false --no-transfer-progress -B -q -DforceStdout)
          echo "Version from pom: $version"
          if [[ $version =~ -SNAPSHOT$ ]]; then
            jfrog rt mvn -B install --no-transfer-progress
            # echo "*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*"
            # echo "Collecting Information from Git"
            # jfrog rt bag
            # echo "*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*"
            # echo "Collecting Environment Variables of the Build"
            # jfrog rt bce
            echo "*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*"
            echo "Publish Build Information to Artifactory"
            jfrog rt bp
            echo "*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*"
            echo "Scan Published Build with Xray"
            jfrog rt bs --fail=false |& tee -a xray.log
            grep -v "\[Info\]" xray.log > xray.json
            grep -q "\"total_alerts\": [1-9]" xray.json && echo -e "::warning:: XRay alerts found" || true
          else
            echo "::warning:: No Maven deployment, because version is not snapshot"
            exit 0
          fi
